/* #FF6699 Rosa
#000000 Negro
#FFFFFF Blanco */

/* https://css-tricks.com/snippets/svg/curved-text-along-path/ */

@font-face {
    font-family: 'BabyDoll';
    src: local('BabyDoll') url('BabyDoll.otf') format('opentype');
  }

.baby-doll-font {
    font-family: 'BabyDoll', sans-serif !important;
}

.viewport {
    min-height: 100vh;
}

.curved-text-container {
    height: 10vh;
    width: 50vw;
}

path {
  fill: transparent;
}

text {
  fill: #FF9800;
  font-size: 2vw;
}


.social-media-btn {
    border: 2px #000000 solid;
    
}

